.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  font-family: "Avenir";
  border-radius: 24px;
  height: 42px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #7785db;
}

.main {
  background-color: #7785db;
  color: #FFF;
}

.outline {
  background-color: #F2F4FF;
  color: #7785db;
}

.button-icon {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

@media screen and (max-width: 420px) {
  .button-container {
    max-width: 260px;
    margin-top: .5rem;
  }
}